<link rel = "icon" href = "././public/favicon.ico">
<div class="navbar-fixed">
  <nav class="green">
    <div class="nav-wrapper">
    <ul>
    	<a class = "center" href = "/">Manabu</a>
      <% if(page=="Profile"){ %>
        <li class="right-align"><%= user.email %></li>
      <% } %>
    </ul>
    </div>
  </nav>
</div>
