<!DOCTYPE html>
<html class = "repeatingBackground">
  <head>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
	  <title>Manabu</title>
  	<!-- Import CSS -->
  	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.min.css">
  </head>
  <body >
    
	<div class="valign-wrapper row main ">
		<div class="col s12 l4 pull-l4">
			<h1 class = "center-align white-text"><%= title %></h1>
			<p class="white-text center-align">An entirely new way to learn things.</p>
			<div class="row center-align">
				<a class="btn teal hoverable" href = "/login">Login</a>
				<a class="btn red hoverable" href = "/signup">Signup</a>
			</div>
		</div>

	</div>
    <a id="load" class = "white-text"></a>
  </body>
</html>
