<!DOCTYPE html>
<html>
  <head>
	<title>Login - Manabu </title>
  	<!-- Import CSS -->
  	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.min.css">
  </head>
  <body>  
    <%- include('partials/navbar') %>
    <div class="valign-wrapper row main ">
      <div class="card container col s12 l4 pull-l4">
        <form action="/login" method = "POST">
          <div class="card-content">
            <span class="card-title light-text">Welcome Back.</span>
            <div class="row">
              <div class="input-field col s12">
                <label for="email">Email address</label>
                <input type="email" class="validate" name="email" id="email" />
              </div>
              <div class="input-field col s12">
                <label for="password">Password </label>
                <input type="password" class="validate" name="password" id="password" />
              </div>
            </div>
          </div>
          <div class="card-action right-align">
            <center>
              <a class="btn white black-text waves-effect">Sign Up</a>
              <input type="submit" class="btn green waves-effect waves-light" value="Login">
              <br><br>
              <hr class = "dotted" style = "">
              <p class="center green-text">or</p>
              <center><a class="center btn blue waves-effect">Login with <span class = "fa fa-facebook "></span></a></center>
            </center>
          </div>
        </form>
      </div>
    </div>
    <div class="footer"></div>
    <!-- Javascript Stuff -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src = "/javascripts/materialize.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.0.0/firebase.js"></script>
  </body>
</html>
