<!DOCTYPE html>
<html>
  <head>
  <title>Login - Manabu </title>
    <!-- Import CSS -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" type="text/css" href="/stylesheets/materialize.min.css">
  </head>
  <body>  
    <%- include('partials/navbar') %>
    
    <div class="footer"></div>
    <!-- Javascript Stuff -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous"></script>
    <script type="text/javascript" src = "/javascripts/materialize.min.js"></script>
  </body>
</html>
