html,
body,
.main{
  height: 100%;
  font-family: 'Lato', sans-serif;

}
html { 
  background:  url(https://www.nycgo.com/images/460x285/MidtownSunset_460.gif) no-repeat center center fixed; 
  background-size: cover;
  overflow: hidden;
}